# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# DBT
dbt/target/
dbt/logs/
dbt/dbt_packages/

# DuckDB
*.duckdb
*.wal

# Data
data/*.parquet
data/*.csv

# Airflow
airflow.db
logs/

# Environment
.env

# VS Code
.vscode/

# macOS / Linux
.DS_Store

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
Thumbs.db

#pycache 
**/__pycache__/